body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 2em 1em;
    color: #555;
}

header h2 {
    margin-top: 1 em;
    padding-top: 1 em;
    text-shadow: 0 0 5px #047d81;
    color: rgb(255, 255, 255);
}

h1, h2,h3 strong {
    color: rgb(209, 36, 94);
    font-weight: 700; 
}

section, footer {
    background: #0eccbc;
    padding: 2px 4px;
    vertical-align: text-bottom;
    border-left: 2px solid rgb(255, 255, 255);  
}

article {
    background: #fafafa;
    border-bottom: 1px solid #cc3171;
    color: #525252;
    padding: 0.5em;
    font-family: "Roboto Mono", monospace;
}

a {
    color: #3abbbb;
}


header {
    line-height: 1.2;
    padding: 1vw 2em;
    text-align: center;
    margin-bottom: 15%;
}

html {
    background-image: url("images/after.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 60% 20%;
}

header img {
    display: inline-block;
    height: 50%;
    vertical-align: text-bottom;
    width: 50%;
}

header h1 {
    color: white;
    text-shadow: 0 0 5px #0a7973;
    font-size: 2.5em;
    font-weight: 700;
}
article img {
    height: 50%;
    width: 50%;
}

footer a {
    border: 2px solid #e81c4f;
    border-radius: 290486px;
    color: white;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, ba;
}

footer a:hover {
    background: #e81c4f;
    color: white;
}

